---
import BaseHead from '../components/layout/BaseHead.astro';
import Header from '../components/layout/Header.astro';
import Footer from '../components/layout/Footer.astro';
import ChatWidget from '../components/ChatWidget.astro';
import EarlyAccessModal from '../components/forms/EarlyAccessModal.astro';
import '../styles/global.css';

interface Props {
  title: string;
  description: string;
  canonicalURL?: string;
  ogImage?: string;
  articlePublishedDate?: string;
  articleAuthor?: string;
  articleTags?: string[];
  isArticle?: boolean;
}

const { title, description, canonicalURL, ogImage, articlePublishedDate, articleAuthor, articleTags, isArticle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} canonicalURL={canonicalURL} ogImage={ogImage} articlePublishedDate={articlePublishedDate} articleAuthor={articleAuthor} articleTags={articleTags} isArticle={isArticle} />
  </head>
  <body class="min-h-screen flex flex-col pt-20">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
    <EarlyAccessModal />
    <slot name="after-footer" />
    <ChatWidget />
  </body>
</html>
